#conteneur
{
	display: flex;
	
}

body
{
	font: 1em/100% Helvetica, Arial, sans-serif;
	display: flex;
	padding-left: 20%;
	color: #616161;
}

#ligne_h
{
	border-bottom: 2px solid #FF9800;
	padding-bottom: 5px;
}

.under
{
	border-bottom: 2px solid #FF9800;
	padding-bottom: 16px;
	width: 18em;

	display: flex;
	
	/* width pour la taille du trait ms n'aligne plus h5 */
}

aside
{
    background-color: #9C27B0;
    color: #212121;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.test
{
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	margin-bottom: 10px;
}

aside h1, h3
{		
	font-size: 28px;
	background-color: #FF9800;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 13px;
}

aside h2
{
	font-size: 28px;
	background-color: #FF9800;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

aside h3
{
	margin-top: auto;
}

#loisirs
{
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;

}

.circle-icon
{
	background: #9C27B0;
	border : 1px solid #000;
	padding: 7px;
	border-radius: 50%;		

}

header h1 i
{	
	color: #9C27B0;
	font-style: normal;
}

header h1
{
	font-size: 50px;
	font-family: "Lucida Console", Courier, monospace;
	word-spacing: -50%;
	color: #212121;
}

header h1, h2
{	 
	display: flex;
	padding-left: 55px;
		
}

section h2 i
{
	font-style: normal;
	font-size: 28px; 
}

section h4, h5, h6
{
	color: #212121;
	font-size: 30px;
}

article
{
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 2px;
}

#title
{
	display: flex;
	padding-top: 10%;
}

#parties
{
	padding-top: 30px;
	text-align: left;
	padding-left: 55px;
	columns: 2;
	column-gap: 70px;
}

#photo_Miss_L
{	
	width: 190px;
	height: 200px;
	margin: 15px 110px 20px 110px;
	border-radius: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 35px;
	padding-bottom: 20px;

}

#coordonnees
{
	margin-left: 35px;
}

#about_me
{
	margin-left: 35px;
	text-align: justify;	
}

.sektion
{	
	columns: 2;
	column-gap: 1px;
  	text-align: justify;
  	padding: 30px 90px 20px 50px;
}

#noms
{
	columns: 2;
	column-gap: 115px;
	text-align: justify;
	padding: 2px 30px 35px 55px
}

.fa-pen-nib, .fa-briefcase, .fa-glasses
{
	color: #FF9800;
	float: left;
	padding-left: 50px;
	display: flex;
}

.fa-circle, .fa-dot-circle
{
color: #FF9800;
}


@media all and (max-width: 1024px)
{
#conteneur
{
	width: auto;
}

p
{
	color: #FF9800;
}

section
    {
        flex-direction: column;
    }

    article, aside
    {
        width: auto;
        margin-bottom: 15px;
    }

    #photo_Miss_L img
    {
        width: 110px;
        float: right;
       margin-left: 15px;
    }

    aside
    {
        text-align: center;
    }

}
