/*Elements principaux de la page */

#conteneur
{
	display: flex;
	text-align: center;	

}

aside
{
    background-color: #9C27B0;
    padding : 1px;
    color: #212121;
    font-size: 0.9em;
}

aside h1, h3
{		
	font-size: 25px;
	background-color: #FF9800;
	text-align: center;
}

aside h2
{
	background-color: #FF9800;
	text-align: center;
}

aside i
{
	border-radius: 100%
}


section
{
	text-align: center;
}

header h2, h4, h5, h6
{
	background : url('images/separateur.png') repeat-x bottom;
	font-size: 22px; 
}

#photo_Miss_L
{
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 15px;
	border-radius: 100%;
	position: relative;
	overflow: hidden;
}

#sektion
{	
	column-width: 150px;
  column-fill: balance;
  height: 250px;

}

#noms
{
	margin-left: 100px;
	display: flex;
	column-width: 150px;
  column-fill: balance;
  height: 150px;
  text-align: left;
}


